<body class="page-top" id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Integrar Diverte</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Saiba mais sobre!</a>
                </div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">Bem Vindo ao Integrar Diverte!</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">A Integrar criou um novo projeto chamado Integrar Diverte. O projeto atua tanto dentro da universidade quanto fora, seja em escolas ou ONGs. Dentro da universidade o projeto visa criar uma gincana de integração entre os cursos com
                        desafios recreativos e competições de modalidades específicas, sendo que no final haverá um Happy Hour em que a arrecadação será destinada às ONGs. Já fora da UnB, serão desenvolvidas dinâmicas com o propósito de conscientizar
                        a importância da atividade física para a saúde.</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Serviços da Integrar Diverte</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ao Seu Serviço!</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <p>
                            <img class="img-fluid" src="assets/img/reunion.png" alt="">
                        </p>
                        <h3 class="mb-3">Colaboratividade</h3>
                        <p class="text-muted mb-0">Happy Hour ao final do evento com seu dinheiro sendo revestido totalmente para ONGs.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <p>
                            <img class="img-fluid" src="assets/img/certificate.png" alt="">
                        </p>
                        <h3 class="mb-3">Competições</h3>
                        <p class="text-muted mb-0">Proporcionar competições saudáveis entre os cursos da universidade.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <p>
                            <img class="img-fluid" src="assets/img/bicycle.png" alt="">
                        </p>
                        <h3 class="mb-3">Conscientização</h3>
                        <p class="text-muted mb-0">Conscientizar população por meio de eventos sobre a importância de se praticar atividades físicas e cuidar da saúde.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                        <p>
                            <img class="img-fluid" src="assets/img/stick-man.png" alt="">
                        </p>
                        <h3 class="mb-3">Feito com Amor</h3>
                        <p class="text-muted mb-0">Evento feito com todo amor pela equipe da Integrar para que você se DIVIRTA!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="p-0" id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="assets/img/portfolio/fullsize/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Equipe Integrar
                                </div>
                                <div class="project-name">
                                    Galáxia de Oportunidades
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="assets/img/portfolio/fullsize/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Equipe Integrar
                                </div>
                                <div class="project-name">
                                    Encontro de Oportunidades
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="assets/img/portfolio/fullsize/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Equipe Integrar
                                </div>
                                <div class="project-name">
                                    Imersão da equipe Integrar
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.png">
                        <img class="img-fluid" src="assets/img/portfolio/fullsize/4.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Valores
                                </div>
                                <div class="project-name">
                                    Valores da Integrar
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg">
                        <img class="img-fluid" src="assets/img/portfolio/fullsize/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Projeto
                                </div>
                                <div class="project-name">
                                    UnB Talks
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="assets/img/portfolio/fullsize/6.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Inspiração
                                </div>
                                <div class="project-name">
                                    Projetos que nos inspira
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Acompanhe as novidades em nossas redes sociais! Em caso de dúvidas ou sugestões envie um email ou ligue para nós!</h2>
                    <hr class="my-4">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mr-auto text-center">
                    <p>
                        <img class="img-fluid" src="assets/img/facebook.png" alt="">
                    </p>
                    <p>
                        <a href="https://www.facebook.com/integrar.unb/">Facebook Integrar UnB</a>
                    </p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <p>
                        <img class="img-fluid" src="assets/img/instagram.png" alt="">
                    </p>
                    <p>
                        <a href="https://www.instagram.com/integrarunb/">Instagram Integrar UnB</a>
                    </p>
                </div>
                <div class="col-lg-4 ml-auto text-center">
                    <p>
                        <img class="img-fluid" src="assets/img/phone.png" alt="">
                    </p>
                    <p>(61) 99654-6725</p>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <p>
                        <img class="img-fluid" src="assets/img/email.png" alt="">
                    </p>
                    <p>
                        <a href="mailto:contato@integrarunb.com.br">contato@integrarunb.com.br</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

</body>